In [1]:
import mysql.connector
from mysql.connector import Error

In [3]:
import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(
        host='127.0.0.1',
        user='root',
        password='root',
        database='test'
    )

    if connection.is_connected():
        cursor = connection.cursor()

        # CREATE: Insert a new employee
        insert_query = "INSERT INTO user (ID, Name, Salary) VALUES (%s, %s, %s)"
        new_employee = (6, 'Ravi', 450000)
        cursor.execute(insert_query, new_employee)
        connection.commit()
        print("Inserted new employee:", new_employee)

        # READ: Fetch all records
        cursor.execute("SELECT * FROM user")
        rows = cursor.fetchall()
        print("All employees:")
        for row in rows:
            print(row)

        # UPDATE: Change Salary of employee with ID=2
        update_query = "UPDATE user SET Salary = %s WHERE ID = %s"
        cursor.execute(update_query, (420000, 2))
        connection.commit()
        print("Updated salary for ID 2")

        # DELETE: Remove employee with ID=4
        delete_query = "DELETE FROM user WHERE ID = %s"
        cursor.execute(delete_query, (4,))
        connection.commit()
        print("Deleted employee with ID 4")

except Error as e:
    print("Error:", e)

finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection closed")

Inserted new employee: (6, 'Ravi', 450000)
All employees:
(1, 'John', 999999)
(2, 'Sree', 400000)
(3, 'Ahmed', 350000)
(4, 'AJ', 500000)
(5, 'Yadhu', 800000)
(6, 'Ravi', 450000)
Updated salary for ID 2
Deleted employee with ID 4
MySQL connection closed